version: '3.9'

services:
  api:
    container_name: api
    build:
      context: .
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - 5000:5000
      - 9229:9229
    command: npm run start:dev
    restart: always
    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres:16-alpine
    env_file:
      - .env
    environment:
      PGDATA: /var/lib/postgresql/data
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - 5432:5432
    restart: always

volumes:
  pgdata:
